.App {
  text-align: center;
}

.button_up_down {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
.btn_up {
  width: 80px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(160, 156, 157);
}

.btn_up:hover {
  background-color: cyan;
  transition: transform 0.6s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
}
.btn_down {
  width: 80px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: rgb(151, 149, 149);
}
.btn_down:hover {
  background-color: cyan;
  transition: transform 0.6s;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.Age-label {
  margin-top: 30px;
}
